.heal {
    margin-bottom: 100px;
}

.heal .title {
    margin-bottom: 80px !important;
}

.heal_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heal_item {
    padding: 0 27px;
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.heal_item:nth-child(2) {
    transform: translateY(-128px);
}

.heal_pic {
    width: calc(100% - 200px);
    padding-bottom: calc((100% - 200px) * 1.33);
    position: relative;
    display: block;
}

.heal_item:first-child .heal_pic {
    order: 2;
}

.heal_pic>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.heal_text {
    width: 200px;
}

.heal_item:first-child .heal_text {
    order: 1;
    text-align: right;
    padding-right: 30px;
}

.heal_item:nth-child(2) .heal_text {
    padding-left: 30px;
}

.heal_title {
    color: #6C6C6C;
    font-weight: normal;
    margin: 0 0 5px;
    font-size: 24px;
}

.heal_price {
    color: #72939E;
    font-size: 24px !important;
    font-weight: 600 !important;
    font-family: 'Bodoni Moda', serif;
    margin: 0 !important;
}

@media screen and (max-width: 1199px) {
    .heal_item {
        padding: 0 15px;
    }
}

@media screen and (max-width: 991px) {
    .heal_pic {
        width: 100%;
        padding-bottom: 133%;
    }
    .heal_item:first-child .heal_pic {
        order: 1;
    }
    .heal_text {
        padding: 10px 0 !important;
    }
    .heal_item:first-child .heal_text {
        order: 2;
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    .heal .title {
        margin-bottom: 40px !important;
    }
    .heal_item {
        padding: 0 10px;
    }
    .heal_item:nth-child(2) {
        transform: translateY(-88px);
    }
    .heal_title {
        font-size: 18px;
    }
    .heal_price {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 450px) {
    .heal .title {
        margin-bottom: 20px !important;
    }
    .heal_item {
        padding: 0 8px;
    }
    .heal_item:nth-child(2) {
        transform: none;
    }
}